#{extends 'main.html' /}
#{set title:'Login' /}

#{set 'moreScripts'}
    #{get 'moreScripts' /}
    #{script 'openid/openid-jquery.js' /}
    #{if lang}
        #{script 'openid/openid-'+lang+'.js' /}
    #{/if}
    #{else}
        #{script 'openid/openid-en.js' /}
    #{/else}
    <script type="text/javascript"> 
        $(document).ready(function() {
            openid.init('openid_identifier');
        });
    </script>
#{/set}

#{set 'moreStyles'}
    #{get 'moreStyles' /}
    #{stylesheet 'openid/openid.css' /}
#{/set}

#{if flash.error}
    <p style="color:#c00">
        ${flash.error}
    </p>
#{/if}

<div style="float:right; width:200px;">
    <h2>Why OpenID?</h2>
    <p>It’s a single username and password that allows you to log in to any OpenID-enabled site.</p>
    <p>It works on thousands of websites.</p>
    <p>It’s an open standard.</p>
    <p><a href="http://openid.net/what/">learn more</a></p>
</div>

<!-- Simple OpenID Selector --> 
<form style="float:left;" action="@{Application.login()}" method="GET" id="openid_form"> 
    <input type="hidden" name="continueTo" value="${params.get('continueTo')}" />
    <div class="noscript">
        <p>Do you already have an account with another big-name site? Enter their OpenID URL to <strong>log in</strong> with it here:</p> 
    </div>
    <div id="openid_choice"> 
        <p>Do you already have an account with one of these sites? Click the logo to <strong>log in</strong> with it here:</p> 
        <div id="openid_btns"></div> 
    </div> 
    <div id="openid_input_area"> 
        <input id="openid_identifier" name="openid_identifier" type="text" value="http://" /> 
        <input id="openid_submit" type="submit" value="Sign-In"/> 
    </div> 
    <div class="noscript"> 
        Examples include;
        <dl>
            <dt>Google</dt><dd>http://www.google.com/accounts/o8/id</dd>
            <dt>Yahoo!</dt><dd>http://me.yahoo.com</dd>
            <dt>MyOpenID</dt><dd>http://{username}.myopenid.com (replace {username} with your username on MyOpenID)</dd>
            <dt>AOL</dt><dd>http://openid.aol.com/{username} (replace {username} with your username on AOL)</dd>
        </dl>
    </div> 
    <p>We use OpenID purely for identification purposes. We do not store (or even have access to) your password.</p>
</form> 
<!-- /Simple OpenID Selector --> 
