<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="stylesheet" type="text/css" media="screen" href="@{'/public/stylesheets/main.css'}">
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="favicon.png">
        <script src="@{'/public/javascripts/jquery-1.4.2.min.js'}" type="text/javascript" charset="utf-8"></script>
        #{get 'moreScripts' /}
    </head>
    <body>
        The hello world app. 
        #{if user}
        <div style="float:right;">Logged in as ${user.getEmail()}! | <a href="@{Application.logout()}">Logout</a></div>
        #{/if}
        #{else}
        <div style="float:right;"><a href="@{Application.login(request.url)}">Login</a></div>
        #{/else}
        <hr />
        #{doLayout /}
    </body>
</html>
